<div class="container">
  <h1>Meter <small>{{meter}}</small>
        <span class="btn-group">
            <button class="btn btn-mini" {{ action 'switchView' }} >Simple View</button>
            <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">New Location</a></li>
            </ul>
        </span>
</h1>

  <div class="row adv-view">
    <!-- <div class="col-md-12 main"> -->
    <div class="row placeholders">
      <div class="col-xs-6 col-sm-3 placeholder">
        {{loc-gauge-total who=totalamount}}
        <h4>Total</h4>
        <span class="text-muted">Location Ticket Amount</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        {{loc-gauge-avg who=avg }}
        <h4>Average</h4>
        <span class="text-muted">Ticket Amount</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        {{loc-gauge who=max}}
        <h4>Greatest</h4>
        <span class="text-muted">Ticket Amount</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        {{loc-gauge who=count}}
        <h4>Tickets</h4>
        <span class="text-muted">Issued</span>
      </div>
    </div>

    <h3 class="page-header-noline">Tickets <small>Total Amount Monthly</small></h3> {{ember-chart type='line' height=400 data=chartbuild options=chartoptions }}
    <h3 class="page-header-noline">Tickets <small>Issued Each Month</small></h3> {{ember-chart type='line' height=400 data=monthlyCountChart options=chartoptions }}

    <!-- </div> -->
    <!-- <div class="row">
  <div class="col-md-4">
    <h3><small>Heading</small></h3>
    <p>Displays chart of total number of citations issued by month</p>
    <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h3>Heading</h3>
    <p>Displays chart of total number of citations issued by month</p>
    <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
 </div>
  <div class="col-md-4">
    <h3>Heading</h3>
    <p>Displays chart of total number of citations issued by month</p>
    <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
  </div>
</div> -->

  </div>
</div>
